

.navbar{
    background-color: $color1;
    display: flex;
    justify-content: center;
    .nav-link{
        color: $color3 !important;
        text-transform: uppercase;
        font-family: $font1;
        font-weight: bold;
        font-size: 150%;
        margin-top: 200px;
        width: 100%;
    }
}

footer{
    background-color: $color1;
    color: $color3;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    p{
        text-transform: capitalize;
    }
    
    i{
        letter-spacing: 20px;
        font-size: 40px;
        color: $color2;
        &:hover{
            color: $color3;
        }
    }  
}
