    .card-title{    
        color: $color3;
        font-family: $font1;
        font-size: 25px;
        text-align: center;
    }
    
    .card-title--2{
        @extend .card-title;
        color: #c98839;
    }

    .card-title--3{
        @extend .card-title;
        color: #bd7318; 
    }
    
    .card-title--4{
        @extend .card-title;
        color: #864e09; 
    }
    
    .card-img-top{
        height: 130px;
        width: 130px;   
    }



.container{
    padding-top: 100px;
    margin-bottom: 10%;

    p{
        text-align: center;
    }

    .publ{
        width: 400px;
        height: 400px;
    }

    .publ2{
        width: 200px;
        height: 200px;
    }

    .form-inline{
        margin-left: 2%;
    }

    .btn{
        background-color: $color2;
        border: none;
    }

    .tienda{

        .card-img-top{
            width: 200px;
            height: 200px;
        }
    }

    .prod {
        padding-left:0;
        padding-right:0;
        margin: 5px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: .25s box-shadow;
        transition: .25s box-shadow;
    }

    .prod:focus, .prod:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .card{
        margin-bottom: 20px;
        border: none;
        align-content: center;
        align-items: center;
    }

    .card-img-top{
        margin-top:10px;
    }
}

.contacto{
    .card-img-top{
        margin-top: 70px;
        width: 80px;
        height: 80px;
    }
}

.row{
    margin-right:auto;
    margin-left:auto;
}

a {
    -webkit-transition: .25s all;
    transition: .25s all;
}