@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Nunito&display=swap');
@import "_variables";
@import "_header";
@import "_navbarFooter";
@import "_cards";
@import "_biografia";
@import "_forms";

*{
    margin: 0;
    padding: 0;
    border:0;
    font-family: $font1;
}

h1{
    color: #F2A950;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 100px;
}

p{
    font-size: 20px;
}

h2{
    font-size: 50px;
    @extend .card-title;
}