@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Nunito&display=swap");
.logo {
  height: 50%;
  width: 50%;
  margin-bottom: 70px;
}

.portada {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  -webkit-animation-name: portada;
          animation-name: portada;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes portada {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
@keyframes portada {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

.navbar {
  background-color: #6E85B7;
  display: flex;
  justify-content: center;
}
.navbar .nav-link {
  color: #F2A950 !important;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 150%;
  margin-top: 200px;
  width: 100%;
}
.navbar .logo {
  height: auto;
  width: 70%;
}

footer {
  background-color: #6E85B7;
  color: #F2A950;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
footer p {
  font-size: 20px;
}
footer i {
  letter-spacing: 20px;
  font-size: 40px;
  color: #C4D7E0;
}
footer i:hover {
  color: #F2A950;
}

.card-title, h2, .card-title--4, .card-title--3, .card-title--2 {
  color: #F2A950;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  text-align: center;
}

.card-title--2 {
  color: #c98839;
}

.card-title--3 {
  color: #bd7318;
}

.card-title--4 {
  color: #864e09;
}

.card-img-top {
  height: 130px;
  width: 130px;
}

.container {
  padding-top: 100px;
  margin-bottom: 10%;
}
.container p {
  text-align: center;
}
.container .publ {
  width: 400px;
  height: 400px;
}
.container .publ2 {
  width: 200px;
  height: 200px;
}
.container .form-inline {
  margin-left: 2%;
}
.container .btn {
  background-color: #C4D7E0;
  border: none;
}
.container .tienda .card-img-top {
  width: 200px;
  height: 200px;
}
.container .prod {
  padding-left: 0;
  padding-right: 0;
  margin: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.25s box-shadow;
}
.container .prod:focus, .container .prod:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.container .card {
  margin-bottom: 20px;
  border: none;
  align-content: center;
  align-items: center;
}
.container .card-img-top {
  margin-top: 10px;
}

.contacto .card-img-top {
  margin-top: 70px;
  width: 80px;
  height: 80px;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

a {
  transition: 0.25s all;
}

.texto {
  padding-top: 70px;
  color: rgb(109, 131, 253);
}

.gato {
  height: auto;
  width: 300px;
  background-color: rgb(212, 195, 255);
  padding: 20px;
}

.perro {
  height: auto;
  width: 350px;
  background-color: rgb(166, 172, 255);
  padding: 20px;
}

.instrucciones--a {
  color: #6D7FF2;
}

.instrucciones--b {
  color: #6778E6;
}

.instrucciones--c {
  color: #5C6BCC;
}

.instrucciones--d {
  color: #525FB8;
}

.instrucciones--e {
  color: #2E3566;
}

.form {
  margin-top: 50px;
}
.form .cont {
  padding: 30px;
  background-color: #cad1ff;
}

.form_txt {
  color: #864e09;
}

.li_txt {
  font-size: 20px;
}
.li_txt .list {
  margin-top: 40px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: 0px;
  padding-top: 0px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #F2A950;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 100px;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 50px;
}/*# sourceMappingURL=estilo.css.map */